* {
  box-sizing: border-box;
}

body,
html {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: initial;
  font-size: 62.5%;
  font-style: normal;
  max-width: 100%;
  white-space: nowrap;
  width: 100%;
  font-family: Pretendard Variable, Pretendard;
}

.nav-container {
  display: block;
  height: 94px;
  width: 100%;
  padding: 0px 30px;
  transition: all 0.2s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.nav-init {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: 999;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.nav-middle {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 999;
  border-bottom: 1px solid rgb(230, 232, 235);
}

.nav-hidden {
  position: absolute;
}

.header-nav {
  color: white;
  position: relative;
  width: fit-content;
  font-weight: 500;
  font-size: 2rem;
  line-height: 24px;
  cursor: pointer;
}

.nav-scrolled {
  position: sticky;
  top: 0px;
  color: black;
  background-color: white;
}

.nav-hidden {
  position: absolute;
}

.main-content-video {
  position: relative;
  /* 추가 스타일 */
}

.main-video {
  transform: matrix(1, 0, 0, 1, 0, 0);
  filter: blur(0rem);
  width: 100%;
  /* 필요한 경우 추가적인 스타일링 */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.stickySide {
  position: sticky;
  top: 0px;
  height: fit-content;
  padding: 120px 0px 190px;
  margin-right: 40px;
}

.sidebar-title-text {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 140%;
  color: black;
  margin-bottom: 10px;
}

.sidebar-text {
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 12px;
}

.fontClass {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 170%;
}

.img-hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.img-show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear;
}

.bottom-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

.title {
  font-size: 2rem;
  color: white;
  /* 필요한 경우 추가적인 스타일링 */
}

.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgb(0, 0, 0) 65%, rgb(0, 0, 229) 35%);
  overflow: hidden; /* 이 설정을 제거하면 스크롤에 따라 배경 이미지가 움직이지 않습니다 */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 1;
  gap: 48px;
}

.slider {
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.slide {
  width: 250px; /* 이미지의 폭에 따라 조정하세요 */
  height: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-250px * 4)
    ); /* 4는 이미지 개수와 동일하게 조정하세요 */
  }
}
